---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Times", serif;
// $base-font-family: 'Source Serif Pro', serif;
// $secondary-font-family: 'DM Sans', sans-serif;
$secondary-font-family: 'Inter', sans-serif;

$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 1.5;

$title-font-size: 48px;

$small-font-size:  $base-font-size * 0.875;
$big-font-size:  $base-font-size * 1.8;

$text-color:  #262626;
$light-gray: #ccc;
$dark-gray: #999;
$grey-color: $light-gray;

$background-color: #FCFCFC;

$spacing-unit:     30px;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

body {
  font-size: $small-font-size;
}

*::selection{
  // color: $background-color;
  // background-color: $dark-gray;
  background-color: $light-gray;
}

ul.post-list > li > hr , .post-content > hr{
  // height: 2px;
  // background-color: black;
  border: none;
  max-width: 50px;
  margin: 40px auto;

  border-bottom: 1px solid $light-gray;
}

ul.post-list > hr{
  border: none;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
}


a, a:visited{
  text-decoration: underline;
  color: $text-color;
  transition: 0.2s;
}
a:hover{
  // background-color: $light-gray;
  background-color: $dark-gray;
  // color: $dark-gray;
}

p{
  font-size: $base-font-size;
}

p.footnotes{
  font-size: $small-font-size;
  line-height: $small-font-size;
  margin-bottom: 5px;
}

h1, h1 > a.post-link{
  // font-weight: 600;
  font-size: $big-font-size;
  margin-top: $spacing-unit;
  margin-bottom: 0;
  // max-width: 600px;
}

h1 > a.post-link{
  display: inline;
}

h2, .post-content h2{
  font-weight: 600;
  font-size: $base-font-size;
  margin-top: 18px;
  margin-bottom: 0;
}

h1 > a.post-link{
  font-size: $title-font-size;
  line-height: $title-font-size*1.15;
  text-decoration: none;
  font-family: $secondary-font-family;
}

blockquote{
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-style: italic;
  letter-spacing: 0;
  border-left: 2px solid $grey-color;
  color: $text-color;
}

.site-header{
  border-top: 0;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  font-family: $secondary-font-family;
  border-bottom: 1px solid $light-gray;
}

.site-header .wrapper{
  display: flex;
  flex-wrap: wrap;
}

.site-header .wrapper > div{
  flex-grow: 1;
  min-width: 300px;
}

a.home{
  font-family: $secondary-font-family;
  font-weight: 800;
  text-decoration: none;

  background-color: $light-gray;
}
a.home:hover, .footer a.home:hover{
  background-color: $dark-gray;
}
.footer a.home{
  background-color: unset;
}

.site-header .wrapper > div.archive-link{
  margin-top: 1rem;
  width: 100%;
  // text-align: right;
}

@media (max-width: 600px) {
  .site-header .wrapper > div.archive-link{
    text-align: right;
  }
  .site-header .wrapper > div:nth-of-type(2){
    margin-top: 1rem;
  }
  h1 > a.post-link{
    font-size: $big-font-size;
    line-height: $big-font-size;

  }
}

.home.archive{
  font-size: $base-font-size;
}

.archive a{
  font-family: $secondary-font-family;
  text-decoration: none;
  font-weight: bold;
  line-height: 5px;
}

.post-meta {
  text-transform: uppercase;
  font-family: $secondary-font-family;
  // background-color: $dark-gray
  font-size: $small-font-size;
  color: $text-color;
}

.footer{
  margin-top: 20px;
}




// .description{
//   clear: left;
//   font-size: $big-font-size;
//
//   a.home{
//     text-decoration:none;
//     font-size: $big-font-size*1.5;
//   }
//   a.home:hover{
//     font-style: oblique;
//   }
// }

.categories{
  font-size: $small-font-size;
}

.ngram-container {
	position: relative;
	padding-bottom: 40%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.ngram-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#subscribe{
  margin-top: 10px;
  text-align: right;
}

.pagination{
  font-family: $secondary-font-family;
}
