<header class="site-header" role="banner">

  <div class="wrapper">

    {% assign custom_url = site.url | append: site.baseurl %}
    {% assign full_base_url = site.github.url | default: custom_url %}

    <div>
      <a class="home" href="{{site.baseurl}}/">ORGONOMY NOTES</a>
      <div>A blog by <a href="{{site.url}}">Leonardo Amico</a></div>
      <div class="archive-link"><a href="{{site.baseurl}}/archive.html">All Posts </a></div>
    </div>

    <div>

      <div>Subscribe</div>
        <div><a href="https://eepurl.com/chNXpv">Newsletter</a>/<a href="{{site.baseurl}}/feed.xml">RSS</a>
        </div>
    </div>






    <!-- <div class="description">
    <a class="home" href="{{site.baseurl}}/">☝</a><br>
    Hi, I'm Leonardo Amico, a designer and technologist. Here is where I write about small experiments and quick thoughts. Elsewhere you can find my work at <a href="https://orgonomyproductions.info/">ORGONOMY PRODUCTIONS</a> or contact me at <a href="https://twitter.com/orgonomyprod">@orgonomyprod</a> .</div>

    <div id="subscribe">
      <a href="https://orgonomyproductions.info/notes/feed.xml">RSS</a>
      <a href="https://eepurl.com/chNXpv">Newsletter</a>
    </div> -->

  </div>

</header>
