<header class="site-header" role="banner">

  <div class="wrapper">

    {% assign custom_url = site.url | append: site.baseurl %}
    {% assign full_base_url = site.github.url | default: custom_url %}


    <div class="description">
    <a class="home" href="{{site.baseurl}}/">☝</a><br>
    Hi, I'm Leonardo Amico, a designer and technologist. Here is where I write about small experiments and quick thoughts. Elsewhere you can find my work at <a href="http://orgonomyproductions.info/">ORGONOMY PRODUCTIONS</a> or contact me at <a href="https://twitter.com/orgonomyprod">@orgonomyprod</a> .</div>

    <div id="subscribe">
      <a href="http://orgonomyproductions.info/notes/feed.xml">RSS</a>
      <a href="http://eepurl.com/chNXpv">Newsletter</a>
    </div>

  </div>

</header>
